#indicator {
  width: 500px;
  height: 20px;
}

.low-usage {
  background: green;
}

.medium-usage {
  background: #FFC200	;
}

.high-usage {
  background: #FF6347;
}

.text-low-usage {
  color: green;
}

.text-medium-usage {
  color: #FFC200	;
}

.text-high-usage {
  color: #FF6347;
}

#tempHeading {
  text-align: center;
  font-family: monospace;
  transform: rotate(90deg);
  margin: auto;
  color: white;
  padding-top: 20px;
}

#temperature {
  font-size: 500%;
  font-family: sans-serif;
}

#current-temperature {
  transform: rotate(90deg);
}

p{
  font-family: monospace;
  font-size: 18px;
}

button{
  width: 75px;
  height: 50px;
  color: black;
  border-style: hidden;
  font-family: monospace;
  font-size: 20px
}

#picture {
  position: fixed;
  right: 50px;
  top: 10px;
  border-style: 50px solid red;
}
